.checkout-container {
    max-width: 600px;
    margin: 20px auto 0; /* Aggiunto margine superiore */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 20px;
  }
  
  .checkout-container h2 {
    color: #ffffff;
    font-size: 25px;
  }
  
  .checkout-container p {
    color: #ffffff;
  font-size: 18px;
  }
  